:root{
    --primary: #5dadec;
    --warning: #ffc107;
    --danger:  #dc3545;
    --success: #28a745;
    --background: #f3f7fa;
    --light: #fff;
    --default-font: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
}
body{
    background-color: black;
}

.browser{
    border: 1px solid #333;
}

.browser-tab-section{
    display: flex;
    height: 42px;
    background-color: var(--background);
    align-items: center; 
    border-radius: 10px 0 0 0px;
}

/* Tab CSS */
.browser-tab{
    background-color: var(--light);
    height: 34px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
}

/* Browser logo CSS */
.browser-logo{
    display: flex;
    gap: 5px;
    margin: 0 21px;
}

.button-logo
{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.tab-name{
    font-size: 15px;
    font-weight: 400;
}

/* Browser logo color */
#red-tab{
    background-color: var(--danger);
}
#ora-tab{
    background-color: var(--warning);
}
#grn-tab{
    background-color: var(--success);
}

.tab-icon{
    margin: 0 13px 0 13px;
}
.tab-close{
    margin: 0 12px;
}
/* URL SECTION */
.url-section{
    display: flex;
    height: 40px;
    background-color: var(--light);
    align-items: center;
}

.back, .forward, .reload{
    margin: 10px;
}
.lock{
    margin: 10px;
}
.url-input-field{
    display: flex;
    align-items: center;
    height: 32px;
    background-color: var(--background);
    width: 100%;
    border-radius: 14px 0 0 14px;
}